OTTER_APP_BUNDLE_IDENTIFIER = com.tang617.otter
OTTER_DEVELOPMENT_TEAM =
DEVELOPMENT_TEAM = $(OTTER_DEVELOPMENT_TEAM)
IPHONEOS_DEPLOYMENT_TARGET = 18.0
TARGETED_DEVICE_FAMILY = 1,2
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_EMIT_LOC_STRINGS = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO
DERIVE_MACCATALYST_PRODUCT_BUNDLE_IDENTIFIER = NO
